{% set worker_count = groups['worker_servers'] | length %}
{% set edge_count = groups['edge_servers'] | length %}
[ {
  "refName": "HostTemplate-Manager",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HDFS-1-SECONDARYNAMENODE-BASE"
}, {
  "refName": "HostTemplate-Edge",
  "cardinality": {{ edge_count }},
  "roleConfigGroupsRefNames": [
    "HDFS-1-GATEWAY-BASE",
    "HIVE-1-GATEWAY-BASE",
    "SPARK_ON_YARN-1-GATEWAY-BASE",
    "YARN-1-GATEWAY-BASE" ]
}, {
  "refName": "HostTemplate-Master",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HDFS-1-BALANCER-BASE",
    "HDFS-1-NAMENODE-BASE",
    "HIVE-1-HIVEMETASTORE-BASE",
    "HIVE-1-HIVESERVER2-BASE",
    "HUE-1-HUE_LOAD_BALANCER-BASE",
    "HUE-1-HUE_SERVER-BASE",
    "OOZIE-1-OOZIE_SERVER-BASE",
    "SPARK_ON_YARN-1-SPARK_YARN_HISTORY_SERVER-BASE",
    "YARN-1-JOBHISTORY-BASE",
    "YARN-1-RESOURCEMANAGER-BASE",
    "ZOOKEEPER-1-SERVER-BASE" ]
}, {
  "refName": "HostTemplate-Workers",
  "cardinality": {{ worker_count }},
  "roleConfigGroupsRefNames": [
    "HDFS-1-DATANODE-BASE",
    "HIVE-1-GATEWAY-BASE",
    "SPARK_ON_YARN-1-GATEWAY-BASE",
    {% if cluster_version_cdh_major < '6' %}
    "SPARK2_ON_YARN-1-GATEWAY-BASE",
    {% endif %}
    "YARN-1-NODEMANAGER-BASE" ]
} ]